replicaCount: {{ replicas }}

image:
  repository: {{ image_repository }}
  tag: {{ image_tag }}
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: {{ port }}

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
