{
  "propertyName": "{{ name }}",
  "groupId": "{{ group_id }}",
  "contractId": "{{ contract_id }}",
  "ruleFormat": "latest",
  "rules": {
    "name": "default",
    "behaviors": [],
    "children": []
  }
}
