apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  labels:
    app: {{ service_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ service_name }}
  ports:
    - port: {{ port }}
      targetPort: {{ port }}
      protocol: TCP
